<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/addProduct.css">
  </head>
  <body>
    <div class="container">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="name">Name Product</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name product..."
            />
          </div>
        </div>
        <div id="nameError" class="error"></div>

        <div class="row">
          <div class="col-25">
            <label for="price">price </label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="price"
              name="price"
              placeholder="Your price..."
            />
          </div>
        </div>
        <div id="priceError" class="error"></div>

        <div class="row">
          <div class="col-25">
            <label for="img">img</label>
          </div>
          <div class="col-75">
            <input  
              type="text"
              id="img"
              name="img"
              placeholder="nhap link anh"
            >
          </div>
        </div>
        <div id="imgError" class="error"></div>

        <div class="row">
          <div class="col-25">
            <label for="description">description </label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Your description..."
            />
          </div>
        </div>
        <div id="descriptionError" class="error"></div>


        <div class="row">
          <input type="button" id="submit" value="add product" />
        </div>
      </form>
    </div>
    <script src="/js/addProduct.js"></script>
  </body>
</html>
